@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Fira+Sans:wght@500&family=Irish+Grover&family=Lobster&family=Oxygen&family=Readex+Pro&family=Roboto&family=Roboto+Mono&family=Source+Sans+Pro&family=Teko:wght@300&family=Zen+Old+Mincho&display=swap");
body {
  width: 100%;
  background-color: #fff2b2;
  margin: 0;
}
